extends layout

block content
    .container(style='margin-top: 20px')
      include navbar
      .row
        include kategorie
        .col-sm-8
          .jumbotron
            h1.custom-font Witaj w serwisie ogłoszeń lokalnych!
            p Już teraz dodaj swoje nowe ogłoszenie!
            .row
              .col-xs-4.col-sm-4.col-md-4
                a.btn.btn-primary.btn-lg(href='/dodaj_ogloszenie', role='button') 
                  span.glyphicon.glyphicon-plus-sign
                  |  Dodaj ogłoszenie
           
              .col-xs-8.col-sm-8.col-md-8
                include search
          
          h3.custom-font.text-center Wybierz województwo, aby wyświetlić lokalne ogłoszenia.
          #map-poland
            ul.poland
              li.pl1
                a(href='#dolnoslaskie') Dolnośląskie
              li.pl2
                a(href='#kujawsko-pomorskie') Kujawsko-pomorskie
              li.pl3
                a(href='#lubelskie') Lubelskie
              li.pl4
                a(href='#lubuskie') Lubuskie
              li.pl5
                a(href='#lodzkie') Łódzkie
              li.pl6
                a(href='#malopolskie') Małopolskie
              li.pl7
                a(href='#mazowieckie') Mazowieckie
              li.pl8
                a(href='#opolskie') Opolskie
              li.pl9
                a(href='#podkarpackie') Podkarpackie
              li.pl10
                a(href='#podlaskie') Podlaskie
              li.pl11
                a(href='#pomorskie') Pomorskie
              li.pl12
                a(href='#slaskie') Śląskie
              li.pl13
                a(href='#swietokrzyskie') Świętokrzyskie
              li.pl14
                a(href='#warminsko-mazurskie') Warmińsko-mazurskie
              li.pl15
                a(href='#wielkopolskie') Wielkopolskie
              li.pl16
                a(href='#zachodniopomorskie') Zachodniopomorskie
          
      footer.well(style='text-align: center') Michał Bularz © 2017

