.col-sm-4
  .panel.panel-primary
    .panel-heading Kategorie
    .panel-body
      .list-group#kategorie
        each kat in kategorie
          a.list-group-item(href='/lista_ogloszen?cat_id='+kat['ID'])= kat['Nazwa']
            span.badge= kat['liczba']
                  
