extends layout

block content
  .container(style='margin-top: 20px')
    include navbar
    .row
      include kategorie
      .col-sm-8
        include search
        h1= subtitle
        .panel.panel-default
          .panel-body
            .row
              .col-sm-6
                .input-group
                  span.input-group-addon(id="sortuj")
                    span.glyphicon.glyphicon-th-list(aria-hidden="true") 
                    |  Sortowanie:
                  select.selectpicker(onchange='sort(this)', aria-describedby="sortuj")
                    option Od najtańszych
                    option Od najdroższych
                    option Od najstarszych
                    option(selected="selected") Od najnowszych
              .col-sm-6
                .input-group
                  span.input-group-addon(id="lokalizacja")
                    span.glyphicon.glyphicon-map-marker(aria-hidden="true") 
                    |  Lokalizacja:
                  select.selectpicker(onchange='sort(this)', aria-describedby="lokalizacja")
                    option Krakow
          

        #loader-wrapper
          .loader
          p Proszę czekać...

        #lista-ogloszen(style='margin-bottom: 20px')    
          include lista_ogloszen_main
                  
    footer.well(style='text-align: center') Michał Bularz © 2017