.row
  .col-sm-12
    nav.navbar.navbar-default
      .container-fluid
        a.navbar-brand(href='/')
          img(alt='Serwis ogłoszeń lokalnych', src='images/logo_horizontal.png' width='100%', height='100%')
        .navbar-left 
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/zarejestruj')
              span.glyphicon.glyphicon-user
              |  Zarejestruj
          li
            a(href='/zaloguj')
              span.glyphicon.glyphicon-log-in
              |  Zaloguj
