.row
  .col-sm-12
    nav.navbar.navbar-default
      .container-fluid
        .navbar-left 
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/zarejestruj')
              span.glyphicon.glyphicon-user
              |  Zarejestruj
          li
            a(href='/zaloguj')
              span.glyphicon.glyphicon-log-in
              |  Zaloguj
