.table-container.well(style='padding: 10px')
  table
    tr
      td(style='width: 60%')
        .media-left
          a(href='/zobacz_ogloszenie?ogloszenie_id='+ogloszenie['ID'] style='width: 120px; height: 100px; display: flex; line-height: 100px; justify-content: center; background-color: #f9f9f9; border: 1px solid #ccc;')
            img.media-object(src="#{ogloszenie['Zdjecie_glowne'].substring(7, ogloszenie['Zdjecie_glowne'].length)}", alt='', style="margin: 0 auto; max-height: 100px; max-width: 120px; align-self: center; float:none;")
        .media-body
          a(href='http://localhost:3000/zobacz_ogloszenie?ogloszenie_id='+ogloszenie['ID'])
            h3.media-heading= ogloszenie['Tytul']
          p 
            |  !{ogloszenie['Data_dodania']}
            .btn-group(role='group', aria-label='...')
              button.btn.btn-primary(type='button')
                span.glyphicon.glyphicon-refresh(aria-hidden='true')
                |  Odśwież
              button.btn.btn-warning(type='button')
                span.glyphicon.glyphicon-pencil(aria-hidden='true')
                |  Edytuj
              button.btn.btn-danger(type='button')
                span.glyphicon.glyphicon-remove(aria-hidden='true')
                |  Usuń
      td.price(style='font-size: 22px; width: 40%; float:right; text-align: right; padding-right: 20px; line-height: 101px;')
        !{ogloszenie['Cena']} zł