form(action='/lista_ogloszen', method='POST')
  .input-group.input-group-lg
    input.form-control(type='text', name='expr' placeholder='Szukaj...')
    span.input-group-btn
      button.btn.btn-primary(type='submit')
        span.glyphicon.glyphicon-search(aria-hidden='true')
